<section>
  <header class="without-background clearfix">
    <h1 class="text-left pull-left">Listagem de Páginas</h1>
    <div class="pull-right">
      <%= link_to '', new_admin_page_path , class: 'btn btn-primary btn-fab btn-raised mdi-content-add'%>
    </div>
  </header>

  <br/>

  <table class="table table-striped table-hover">
    <thead>
      <tr>
       <th><%= Page.human_attribute_name :name %></th>
       <th><%= Page.human_attribute_name :permalink %></th>
       <th colspan="2">Opções</th>
      </tr>
    </thead>

    <tbody>
    <% @pages.each do |page| %>
      <tr>
        <td><%= link_to page.name, admin_page_path(page) %></td>
        <td><%= page.permalink %></td>
        <td><%= link_to raw('<i class="mdi-content-create"></i>'), edit_admin_page_path(page) %></td>
        <td><%= link_to raw('<i class="mdi-content-clear"></i>'), admin_page_path(page), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</section>
