<section>
  <header class="without-background clearfix">
    <h1 class="text-left pull-left"><%= @page.name %></h1>
    <div class="pull-right">
      <%= link_to '', admin_pages_path, class: 'btn btn-primary btn-fab btn-raised mdi-navigation-arrow-back' %>
      <%= link_to '', edit_admin_page_path(@page), class: 'btn btn-primary btn-fab btn-raised mdi-content-create' %>
    </div>
  </header>

  <br/>

  <article>
    <p>
      <strong><%= Page.human_attribute_name :permalink %>:</strong>
      <%= @page.permalink %>
    </p>

    <p>
      <strong><%= Page.human_attribute_name :content %>:</strong>
      <%= markdown @page.content %>
    </p>
  </article>
</section>