<% provide(:title, "Contests Archive") %>
<div class="container">
	<div class="row">
		<h2>Concursos antigos</h2>
			<% @contests.each do |contest| %>
				<%= link_to contest do %>
					<div class="col-md-4 col-md-4 col-xs-12">
						<div class="row">
							<div class="archive">
								<div class="col-xs-12 image">
									<%= image_tag(contest.image(:thumb) , alt: contest.title) %>
								</div>
								<div class="col-xs-12">
									<p><b><%= contest.title %></b></p>
									<p>Concurso encerrado hรก <%= format_date_old(contest.closing) %></p>
									<hr>
									<div class="winners">
									<% Participant.podium(contest.id).each_with_index do |participant, key|%>
										<p><%= key + 1 %>ยบ <%=participant.user.name %></p>
									<% end %>
									</div>
								</div>
							</div>					
						</div>				
					</div>
				<% end %>
			<% end %>
		<div class="row">
			<div class="col-md-12 text-right">
				<%= will_paginate @contests, renderer: BootstrapPagination::Rails %>
				</div>
		</div>
	</div>
</div>