<% provide(:title, "Lista de Concursos") %>
<div class="container">
	<div class="row row-contests">
		<h2>Lista de Concursos</h2>
		<div class="col-xs-12">
			<% @contests.each do |contest| %>
				<div class="col-xs-12 col-sm-4 contest_show">
					<br/>
					<div class="col-xs-12 image">
						<a href="<%= contest_path(contest) %>" class="thumbnail">
							<%= image_tag(contest.image(:original), alt: contest.title, class: "img-responsive") unless contest.image.blank? %>
		    				<%= image_tag("placeholder.png", alt: "Placeholder", class: "img-responsive") unless contest.image.blank? == false %>
					    </a>
					</div>
					<div class="col-xs-12">
						<p class="title"><b><%= contest.title %></b></p>
						<p><%= contest_status_label(contest) %></p>
						<p class="opening_enrollment">Início das Inscrições: <b> <%= contest.opening_enrollment.strftime("%d/%m/%Y - %H:%M") %></b></p>
						<p class="closing_enrollment">Término das Inscrições: <b> <%= contest.closing_enrollment.strftime("%d/%m/%Y - %H:%M") %></b></p>
						<p class="link_contest"><%= link_to "Visitar a página do concurso", contest %></p>

						<div
						  class="fb-like"
						  data-share="true"
						  data-width="450"
						  data-show-faces="true"
							data-href="<%= root_url + "/contest/#{contest.id}" %>"
							>
						</div>

						<br>
					</div>
				</div>
			<% end %>
		<div class="row">
			<div class="col-md-12 text-right">
				<%= will_paginate @photographers, renderer: BootstrapPagination::Rails %>
			</div>
		</div>
		</div>
	</div>
</div>
