<% provide(:title, "Contests List") %>
<div class="container">
	<div class="row">
		<h2>Lista de Concursos</h2>
		<div class="col-xs-12">
			<% @contests.each do |contest| %>
				<div class="row">
					<div class="col-xs-12 col-sm-3">
						<a href="#" class="thumbnail">
							<%= image_tag(contest.image(:original), alt: contest.title, class: "img-responsive") unless contest.image.blank? %>
		    				<%= image_tag("placeholder.png", alt: "Placeholder", class: "img-responsive") unless contest.image.blank? == false %>
					    </a>
					</div>
					<div class="col-xs-12 col-sm-9">
						<p><b><%= contest.title %></b></p>
						<p><%= contest_status_label(contest) %></p>
						<br>
						<p><%= contest_link_register(contest) %></p>
						<p><%= link_to "Visitar a página do concurso", contest %></p>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>