<% provide(:title, "Contests Show") %>
<div class="contest">	
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h2><%= @contest.title %></h2>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<div class="contest-description">
				<div class="col-xs-6">
					<%= image_tag(@contest.image(:original), alt: @contest.title, class: "img-responsive") unless @contest.image.blank? %> 			
				</div>
				<div class="col-xs-6">
					<p><%= @contest.description %></p>
				    <p><strong><%= contest_status_label(@contest) %></strong></p>
				</div>
				<div class="clearfix"></div>
				<hr>
				<div class="contest-date">
					<div class="inscriptions">
						<p>Início das Inscrições: <%= @contest.opening_enrollment.strftime("%d/%m/%Y") %></p>
						<p>Término das Inscrições: <%= @contest.closing_enrollment.strftime("%d/%m/%Y") %></p>					
					</div>
					<div class="voting">
						<p>Início da Votação: <%= @contest.opening.strftime("%d/%m/%Y") %></p>
						<% if(!@contest.open_enrollment?) %>
							<span class="label label-info open-more">As inscrições estarão abertas por mais <%= format_date_old(@contest.closing_enrollment) %></span>
							<p><%= contest_link_register(@contest) %></p>						
						<% else %>
							<p>Término da Votação: <%= @contest.opening.utc.strftime("%d/%m/%Y") %></p>
						<% end %>
					</div>
				</div>
			</div>		
		</div>
	</div>
	<% if @contest.open? %>
		<hr class="style-hr">
		<div class="show-pictures-contest">

      <div class="row">
        <div class="container">
          <% @participants.each do |participant| %>
            <%= render 'participant', :participant => participant %>
          <% end %>
        </div>
      </div>
    </div>
	<% end %>
	<% if @contest.closed? %>
		<div class="row">
			<p>Primeiro lugar</p>
			<% if @podium[0].kind_of?(Array) %>
				<% @podium[0].each do |participant| %>
					<%= render 'participant', :participant => participant %>
		        <% end %>
		    <% else %>
				<%= render 'participant', :participant => @podium[0] %>
		    <% end %>
		</div>
		<div class="row">
			<p>Segundo lugar</p>
			<% if @podium[1].kind_of?(Array) %>
				<% @podium[1].each do |participant| %>
					<%= render 'participant', :participant => participant %>
		        <% end %>
		    <% else %>
				<%= render 'participant', :participant => @podium[1] %>
		    <% end %>
		</div>
		<div class="row">
			<p>Terceiro lugar</p>
			<% if @podium[2].kind_of?(Array) %>
				<% @podium[2].each do |participant| %>
					<%= render 'participant', :participant => participant %>
		        <% end %>
		    <% else %>
				<%= render 'participant', :participant => @podium[2] %>
		    <% end %>
		</div>
	<% end %>
</div>
</div>