<% provide(:title, "Destails Inscription") %>
<div class="container">
	<div class="row">
		<div class="col-xs-2">
			<center><h4><center>Perfil do Fotógrafo</center></h4></h4></center>
		</div>
	</div>

	<br>
	<div class="row">
		<div class="col-xs-12 col-sm-2">
			<a href="#" class="thumbnail">
				<% @photographer = User.find_by_id(@inscription.user_id)%>
				<%= gravatar_for @photographer, { size: 140 } %>
			</a>
			<div class="well infobox">
				<p> <a href="#"> Editar Conta </a></p>
				<p> <a href="#"> Alterar Senha </a></p>
				<p> <a href="http://gravatar.com/emails" target=_blank>Alterar Foto</a> </p>
			</div>
		</div>
		<div class="col-xs-12 col-sm-8">
			<div class="row">
				<div class="col-xs-10 col-md-4	">
					<a href="#" class="thumbnail ">
						<%= image_tag(@inscription.contest.image(:original), alt: @inscription.contest.title, class: "img-responsive") unless @inscription.contest.image.blank? %> 
					</a>
				</div>
				<div class="col-xs-12 col-md-8">
					<h4 class="list-group-item-heading"><b><%= @inscription.contest.title %></b></h4>
					<p></p>
					<p>Período de Inscrições: <%= format_date @inscription.contest.opening_enrollment %> Até
					 <%= format_date @inscription.contest.closing_enrollment %></p>
					<p>Período de Votação: <%= format_date @inscription.contest.opening %> Até <%= format_date @inscription.contest.closing %></p>
				</div>
			</div>
		</div> 
		<div class="col-xs-12 col-sm-10">
			<hr class="style-hr">	
			
			<div class="row">
				<div class="col-xs-10 col-md-6">
					<center> <h4> <b> Foto enviada para o concurso </b> </h4></center> <br>
					<a href="#" class="thumbnail ">
						<%= image_tag(@inscription.picture.url(:medium), alt: @inscription.contest.title, class: "img-responsive") unless @inscription.contest.image.blank? %> 
					</a>
					
					
				</div>
				<div class="col-xs-12 col-md-6">
					<center> <h4> <b> Detalhes de sua inscrição</b> </h4></center> <br>
					<h4 class="list-group-item-heading"><%= @inscription.contest.title %></h4>
					<p>Fotógrafo(a): <%= @inscription.user.name %> </p>
					<p>Email: <%= @inscription.user.email %> </p>
					<p>Título: <%= @inscription.title %>
						<p>Status: <%= inscription_approved_label(@inscription) %>
							<p><a href="#"> Enviar nova foto </a></p>
							<p>Likes: 233 </p>
							<p>Colocação: <%= @inscription.placing %>3º Lugar </p>
							<p>Descrição: <%= @inscription.description %></p>
							<p><a  data-toggle="modal" data-target="#myModal" >Visualizar Foto</a> </p>
				</div>
			</div>
		</div>
	</div>
	<hr class="style-hr">
</div>	

<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title"><center><b><%= @inscription.title %></b></center></h4>
				</div>
				<hr class="style-hr">
				<div class="modal-body">
					<div class="row image">
						<div class="col-xs-12">
							<%= image_tag(@inscription.picture.url(:medium), alt: @inscription.contest.title, class: "img-responsive") unless @inscription.contest.image.blank? %> 
						</div>
					</div>
					<br>
					<hr class="style-hr">
					<div class="row">
						<div class="col-xs-9 col-sm-10">
							<p><%= @inscription.contest.title %></p>
							<p>Votos: 233 </p>
							<p>Colocação: 3º Lugar</p>
						</div>
					</div>
				</div>
				<div class="modal-footer">
	        <%= user_vote_pannel(@inscription) %>
	      </div>
			</div>
		</div>
	</div>
