<p id="notice"><%= notice %></p>

<h1><%= Contest.model_name.human %></h1>

<%= t('helpers.select.prompt') %>

<table>
  <thead>
    <tr>      
      <th><%= Contest.human_attribute_name :title %></th>
      <th>Description</th>
      <th>Folder</th>
      <th>Opening enrollment</th>
      <th>Closing enrollment</th>
      <th>Opening</th>
      <th>Closing</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contests.each do |contest| %>
      <tr>
        <td><%= contest.title %></td>
        <td><%= contest.description %></td>
        <td><%= image_tag contest.image(:thumb) unless contest.image.blank? %></td>
        <td><%= contest.opening_enrollment %></td>
        <td><%= contest.closing_enrollment %></td>
        <td><%= contest.opening %></td>
        <td><%= contest.closing %></td>
        <td><%= link_to 'Show', admin_contest_path(contest) %></td>
        <td><%= link_to 'Edit', edit_admin_contest_path(contest) %></td>
        <td><%= link_to 'Destroy', admin_contest_path(contest), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contest', new_admin_contest_path %>
