<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @contest.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @contest.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @contest.image(:original) unless @contest.image.blank? %>
</p>

<p>
  <strong>Opening enrollment:</strong>
  <%= @contest.opening_enrollment %>
</p>

<p>
  <strong>Closing enrollment:</strong>
  <%= @contest.closing_enrollment %>
</p>

<p>
  <strong>Opening:</strong>
  <%= @contest.opening %>
</p>

<p>
  <strong>Closing:</strong>
  <%= @contest.closing %>
</p>

<%= link_to 'Edit', edit_admin_contest_path(@contest) %> |
<%= link_to 'Back', admin_contests_path %>
