<% provide(:title, "Concursos") %>
<section>
  <header class="without-background clearfix">
    <h1 class="text-left pull-left"><%= @contest.title %></h1>
    <div class="pull-right">
      <%= link_to '', admin_contests_path, class: 'btn btn-primary btn-fab btn-raised mdi-navigation-arrow-back' %>
      <%= link_to '', edit_admin_contest_path(@contest), class: 'btn btn-primary btn-fab btn-raised mdi-content-create' %>
    </div>
  </header>

  <br/>

  <article>
    <div class="row">
      <div class="media">
        <p class="media-left pull-right img-responsive">
          <%= image_tag @contest.image(:large) unless @contest.image.blank? %>
        </p>
        <div class="media-body">
          <p><strong><%= Contest.human_attribute_name :description %>:</strong></p>
          <p><%= @contest.description %></p>

          <p><strong><%= Contest.human_attribute_name :opening_enrollment %>:</strong>
            <%= l(@contest.opening_enrollment, format: :short) %></p>

          <p><strong><%= Contest.human_attribute_name :closing_enrollment %>:</strong>
            <%= l(@contest.closing_enrollment, format: :short) %></p>

          <p><strong><%= Contest.human_attribute_name :opening %>:</strong>
            <%= l(@contest.opening, format: :short) %></p>

          <p><strong><%= Contest.human_attribute_name :closing %>:</strong>
            <%= l(@contest.closing, format: :short) %></p>
        </div>
      </div>
      <hr class="style-hr">

      <h2>Inscrições com aprovação pendente</h2>
      <div class="show-pictures-contest">
        <div class="row">
          <div class="container">
            <% @not_approved_participants.each do |participant| %>
              <%= render 'participant', :participant => participant %>
            <% end %>
          </div>
        </div>
      </div>

      <h2>Inscrições aprovadas</h2>
      <div class="show-pictures-contest">
        <div class="row">
          <div class="container">
            <% @approved_participants.each do |participant| %>
              <%= render 'participant', :participant => participant %>
            <% end %>
          </div>
        </div>
      </div>

        <h2>Inscrições recusadas</h2>
      <div class="show-pictures-contest">
        <div class="row">
          <div class="container">
            <% @rejected_participants.each do |participant| %>
              <%= render 'participant', :participant => participant %>
            <% end %>
          </div>
        </div>
      </div>
      
    </div>
  </article>
</section>