<section>
  <header class="without-background clearfix">
    <h1 class="text-left pull-left"><%= @contest.title %></h1>
    <div class="pull-right">
      <%= link_to '', admin_contests_path, class: 'btn btn-primary btn-fab btn-raised mdi-navigation-arrow-back' %>
      <%= link_to '', edit_admin_contest_path(@contest), class: 'btn btn-primary btn-fab btn-raised mdi-content-create' %>
    </div>
  </header>

  <br/>

  <article>
    <div class="row">
      <div class="media">
        <p class="media-left pull-right img-responsive">
          <%= image_tag @contest.image(:large) unless @contest.image.blank? %>
        </p>
        <div class="media-body">
          <p><strong><%= Contest.human_attribute_name :description %>:</strong></p>
          <p><%= @contest.description %></p>

          <p><strong><%= Contest.human_attribute_name :opening_enrollment %>:</strong>
            <%= l(@contest.opening_enrollment, format: :short) %></p>

          <p><strong><%= Contest.human_attribute_name :closing_enrollment %>:</strong>
            <%= l(@contest.closing_enrollment, format: :short) %></p>

          <p><strong><%= Contest.human_attribute_name :opening %>:</strong>
            <%= l(@contest.opening, format: :short) %></p>

          <p><strong><%= Contest.human_attribute_name :closing %>:</strong>
            <%= l(@contest.closing, format: :short) %></p>
        </div>
      </div>
      <hr class="style-hr">
      <div class="show-pictures-contest">
        <% @participants.in_groups_of(3) do |participants_row| %>
          <div class="row">
            <div class="container">
              <% participants_row.each do |participant| %>
                <%=# debug(participant) %>
                <!-- Thumbnail -->
                <div class="col-md-4 col-sm-4 col-xs-12"><a href="#" class="thumbnail"><%= image_tag("placeholder.png", alt: "Placeholder", class: "img-responsive") %></a></div>

                <!-- Modal -->
                <div class="modal fade" id=<%= participant %> tabindex="-1" role="dialog">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">participant</h4>
                      </div>
                      <div class="modal-body">
                        <div class="row image">
                          <div class="col-xs-12">
                            <%= image_tag("placeholder.png", alt: "Placeholder") %>
                          </div>
                        </div>
                        <br>
                        <div class="row">
                          <div class="col-xs-3 col-sm-2">
                            <%= image_tag("placeholder.png", alt: "Placeholder", class: "img-responsive") %>
                          </div>
                          <div class="col-xs-9 col-sm-10">
                            <p>Autor: Juca da Silva</p>
                            <p>Descrição: Breve descrição da imagem</p>
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button class="btn btn-primary">Votar</button>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>

      <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                Modal teste
      </button>
    </div>
  </article>
</section>