<div class="modal fade" id='<%="modal-contest-#{contest.id}"%>' tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <center><h4 class="modal-title"><%=contest.title%></h4></center>
        </div>

      <div class="modal-body">

          <table class="table partial-podium">
            <tr>
              <th class="col-md-2">Posição</th>
              <th class="col-md-2">Foto</th>
              <th>Título</th>
              <th class="col-md-2">Voto(s)</th>
            </tr>
            
            <% @partial_podium.each_with_index do |participant, position| %>
              <tr>
                <td><%= "#{position+1}º" %></td>
                <td><%= link_to "#", data: {toggle: "modal", target: "#modal-#{participant.id}"}, class: "thumbnail" do %>
                      <%= image_tag(participant.picture.url(:thumb), alt: participant.contest.title, class: "img-responsive") unless participant.contest.image.blank? %>
                    <% end %>
                </td>
                <td><%= participant.title %></td>
                <td><%= pluralize(participant.votes.count, "voto") %></td>
              </tr>
            <% end %>
          </table>


      </div>
    </div>
  </div>
</div>
