<div id="photographer" class="container">
	<div class="row panel">
		<div class="col-md-4 bg_blur ">
			<%= image_tag("placeholder.png", alt: "Placeholder-user", class: "img-responsive") %>
		</div>
        <div class="col-md-8  col-xs-12">
           <%= image_tag(@photographer.avatar, alt: "Placeholder-user", class: "img-thumbnail picture") %>
           <div class="photographer-infos">
                <h1><%= @photographer.name %></h1>
                <h4><%= @photographer.short_description%></h4>
                <span><%= @photographer.biography %></span>
           </div>
        </div>
    </div>   
    
	<div class="row nav">    
        <div class="col-md-4"></div>
        <div class="col-md-8 col-xs-12" style="margin: 0px;padding: 0px;">
            <div class="col-md-4 col-xs-4 well"><i class="fa fa-weixin fa-lg"></i><%= @photographer.first %></div>
            <div class="col-md-4 col-xs-4 well"><i class="fa fa-heart-o fa-lg"></i><%= @photographer.second %></div>
            <div class="col-md-4 col-xs-4 well"><i class="fa fa-thumbs-o-up fa-lg"></i><%= @photographer.third %></div>
        </div>
    </div>
    <hr class="style-hr">
    <div class="show-pictures-photographer">
		<div class="row">
			<div class="container">
				<div class="col-md-4 col-sm-4 col-xs-12"><a href="#" class="thumbnail">
			    	<%= image_tag("placeholder.png", alt: "Placeholder", class: "img-responsive") %>
			    </a></div>
				<div class="col-md-4 col-sm-4 col-xs-12"><a href="#" class="thumbnail">
			    	<%= image_tag("placeholder.png", alt: "Placeholder", class: "img-responsive") %>
			    </a></div>
				<div class="col-md-4 col-sm-4 col-xs-12"><a href="#" class="thumbnail">
			    	<%= image_tag("placeholder.png", alt: "Placeholder", class: "img-responsive") %>
			    </a></div>
			</div>
		</div>
		<div class="row">
			<div class="container">
				<div class="col-md-4 col-sm-4 col-xs-12"><a href="#" class="thumbnail">
			    	<%= image_tag("placeholder.png", alt: "Placeholder", class: "img-responsive") %>
			    </a></div>
				<div class="col-md-4 col-sm-4 col-xs-12"><a href="#" class="thumbnail">
			    	<%= image_tag("placeholder.png", alt: "Placeholder", class: "img-responsive") %>
			    </a></div>
				<div class="col-md-4 col-sm-4 col-xs-12"><a href="#" class="thumbnail">
			    	<%= image_tag("placeholder.png", alt: "Placeholder", class: "img-responsive") %>
			    </a></div>
			</div>
		</div>
		<div class="row">
			<div class="container">
				<div class="col-md-4 col-sm-4 col-xs-12"><a href="#" class="thumbnail">
			    	<%= image_tag("placeholder.png", alt: "Placeholder", class: "img-responsive") %>
			    </a></div>
				<div class="col-md-4 col-sm-4 col-xs-12"><a href="#" class="thumbnail">
			    	<%= image_tag("placeholder.png", alt: "Placeholder", class: "img-responsive") %>
			    </a></div>
				<div class="col-md-4 col-sm-4 col-xs-12"><a href="#" class="thumbnail">
			    	<%= image_tag("placeholder.png", alt: "Placeholder", class: "img-responsive") %>
			    </a></div>
			</div>
		</div>
	</div>
</div>