<% provide(:title, "Fotógrafos") %>
<div id="photographer" class="container">
	<div class="row panel">
		<div class="col-md-4 bg_blur ">
			<%= picture_featured(@featured) %>
		</div>
        <div class="col-md-8  col-xs-12">
           <%= gravatar_for @photographer, { size: 140 , _class: "img-thumbnail picture"} %>
           <div class="photographer-infos">
                <h1><%= @photographer.name %></h1>
                <h4><%= @photographer.short_description%></h4>
                <span><%= @photographer.biography %></span>
           </div>
        </div>
    </div>

	<div class="row nav">
        <div class="col-md-8 col-xs-7"></div>
        <div class="col-md-4 col-xs-5 user-position-content" style="margin: 0px;padding: 0px;">
            <div class="col-md-4 col-xs-4 well ">
            	<i class="col-md-10 col-sm-6 col-xs-12 "><%= image_tag("first.png", alt: "Placeholder-user", class: "img-responsive img-user-position") %>
            		<span class="position-user"><%= @photographer.first %></span>
            	</i>
            </div>
            <div class="col-md-4 col-xs-4 well">
            	<i class="col-md-10 col-sm-6 col-xs-12"><%= image_tag("second.png", alt: "Placeholder-user", class: "img-responsive img-user-position") %>
            		<span class="position-user"><%= @photographer.second %></span>
            	</i>
            </div>
            <div class="col-md-4 col-xs-4 well">
            	<i class="col-md-10 col-sm-6 col-xs-12"><%= image_tag("third.png", alt: "Placeholder-user", class: "img-responsive img-user-position") %>
            		<span class="position-user"><%= @photographer.third %></span>
            	</i>
            </div>
        </div>
    </div>
    <hr class="style-hr">
	<div class="show-pictures-contest">
		<div class="row">
			<div class="container">
				<% @participants.each_with_index do |participant, index| %>
					<div class="col-md-4 col-sm-4 col-xs-12">
						<a href="#" class="thumbnail" data-toggle="modal" data-target="#participant-<%= participant.id %>-photo">
					    	<%= image_tag(participant.picture.url(:medium), alt: participant.title, class: "img-responsive") unless participant.picture.url.blank? %>
					    	<h4><%= participant.title %></h4>
				   		</a>
					</div>
					<% if (index + 1) % 3 == 0 %>
						</div>
						<div class="row">
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
	<% @participants.each do |participant| %>
		<div class="modal fade" id="participant-<%= participant.id %>-photo" tabindex="-1" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title"><%= participant.title %></h4>
					</div>
					<div class="modal-body">
						<div class="row image">
							<div class="col-xs-12">
								<%= image_tag(participant.picture.url(:medium), alt: participant.title, class: "img-responsive") unless participant.picture.url.blank? %>
							</div>
						</div>
						<br>
						<div class="row">
							<div class="col-xs-3 col-sm-2">
								<%= gravatar_for participant.user, { size: 70 } %>
							</div>
							<div class="col-xs-9 col-sm-10">
								<p>Autor: <%= participant.user.name %></p>
								<p>Descrição: <%= participant.description %></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	<% end %>
	</div>
</div>
