<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- navbar -->
  <%= render 'admin/layouts/header' %>

  <%= render 'shared/flash_messages' %>
  <div class="container">
    <h1> Ãrea administrativa </h1>
		<%= yield %>
	</div>
</body>
</html>
