<footer class="footer">
	<div id="top-footer">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-md-4"><i class="mdi-image-photo-camera"></i> <span>Tire sua foto</span>
				</div>
				<div class="col-xs-12 col-md-4"><i class="mdi-action-assignment-turned-in"></i> <span>Inscreva-se</span>
				</div>
				<div class="col-xs-12 col-md-4"><i class="mdi-action-face-unlock"></i> <span>Mostre seu talento</span>
				</div>
			</div>
		</div>
	</div>
	<div id="middle-footer">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-sm-4">
					<ul class="list-unstyled links-footer">
						<li><%= link_to 'Home', root_url %></li>
						<li><%= link_to_login() %></li>
						<li><%= link_to_sign_up() %></li>
						<li><a href="<%= contests_path %>">Concuros</a></li>
						<li><%= link_to 'Hall da fama', hall_of_fame_url %></li>
					</ul>
				</div>
				<div class="col-md-8 col-sm-8 col-xs-12 list-icons">
					<div class="col-md-4 col-xs-4 col-xs-center"><a href="http://www.facebook.com/"><%= image_tag("facebook.png", alt: "Placeholder-user", class: "img-responsive") %></a></div>
					<div class="col-md-4 col-xs-4 col-xs-center"><a href="http://www.twitter.com/"><%= image_tag("twitter.png", alt: "Placeholder-user", class: "img-responsive") %></a></div>
					<div class="col-md-4 col-xs-4 col-xs-center"><a href="mailto:admin@phootocontest.com"><%= image_tag("mail.png", alt: "Placeholder-user", class: "img-responsive") %></a></div>
				</div>
			</div>
		</div>
	</div>
	<div id="bottom-footer">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-xs-12">&copy;Photo Contest - <script>document.write(new Date().getFullYear())</script></div>
			</div>
		</div>
	</div>
</footer>