<header>
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<nav class="navbar navbar-default">
					<div class="container-fluid">

						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
								<span class="sr-only">Alternar navegação</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>

							<%= link_to image_tag("logo.png", id: "logo", alt: "Concurso de Fotografia UTFPR", class: "img-responsive"), root_url, class: "navbar-brand" %>
						</div>
						<div class="nav navbar-nav">
							<h1>Concursos de Fotografia</h1>
						</div>
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav navbar-right">
								<li><%= link_to 'Principal', root_url %></li>
								<li><%= link_to_show_inscriptions() %></li>
								<li><a href="<%= contests_path %>">Concursos</a></li>
								<li><%= link_to 'Participantes', photographer_list_url %></li>
								<li><a href="<%= contests_archive_path %>">Arquivo</a></li>
								<li><%= link_to_login() %></li>
								<li><%= link_to_sign_up() %></li>
							</ul>
						</div>
					</div>
				</nav>
			</div>
		</div>
	</div>
</header>