<header>
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<nav class="navbar navbar-default">
					<div class="container-fluid">

						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
								<span class="sr-only">Alternar navegação</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>

							<%= link_to image_tag("logo.png", id: "logo", alt: "Concurso de Fotografia UTFPR", class: "img-responsive"), root_url, class: "navbar-brand" %>
						</div>
						<div class="nav navbar-nav">
							<h1>Concursos de Fotografia</h1>
						</div>
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav navbar-right">
                                <li><%= link_to 'Principal', root_url %></li>
                                <li><a href="<%= contests_path %>">Concursos</a></li>
                                <li><%= link_to 'Participantes', photographer_list_url %></li>
                                <li><a href="<%= contests_archive_path %>">Arquivo</a></li>
                                <li><%= link_to 'Sobre', '/about' %></li>
                                <li><%= link_to 'Contato', '/contact' %></li>
                                <li class="dropdown">
								  <%= link_to '#', data: { target: '#', toggle: 'dropdown' }, class: 'dropdown-toggle', 'aria-expanded': 'false' do %>
								    <%= 'Outras Páginas' %>
								    <%= content_tag(:b, '', class: 'caret') %>
								    <%= content_tag(:div, '', class: 'ripple-wrapper') %>

								    <%= content_tag :ul, class: 'dropdown-menu' do %>
								      <li><% @static_pages.each do |static_page|%>
								        <%= content_tag :li do %>
                                            <% if static_page.name != "about" or static_page.name != "contact" %>
                                                <%= link_to static_page.name.capitalize, "/#{static_page.permalink}" %>
                                            <% end %>
								        <% end %>
								      <% end %>
								    <% end %>
								  <% end %>
								</li>
								<li><%= link_to_show_inscriptions() %></li>
                                  <% if logged_in? %>
                                      <li class="dropdown">
                                        <a href="#" class="dropdown-toggle user-name" data-toggle="dropdown">
                                          <%= current_user.name %> <b class="caret"></b>
                                        </a>
                                        <ul class="dropdown-menu">
                                          <li><%= link_to "Profile", '#' %></li>
                                          <li><%= link_to "Settings", '#' %></li>
                                          <li class="divider"></li>
                                          <li>
                                            <%= link_to "Sair", destroy_user_session_path, method: "delete" %>
                                          </li>
                                        </ul>
                                      </li>
                                  <% else %>
                                      <li><%= link_to "Entrar",  new_user_session_path %></li>
                                      <li class="register"><%= link_to_sign_up() %></li>
                                  <% end %>
							</ul>
						</div>
					</div>
				</nav>
			</div>
		</div>
	</div>
</header>
