<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
</head>

<body>  
  <!-- navbar -->
  <%= render 'layouts/header' %>

  <%= render 'shared/flash_messages' %>
  <div class="main container">
		<%= yield %>
	</div>
  
  <%= render 'layouts/footer' %>

</body>
</html>
